<div ui-view>
    <div ng-show="isLoaded">
        <input type="text" ng-model="searchtext" ng-change="search(searchtext)" placeholder="Search movies" /><br/>
        <div ng-repeat="movie in movies track by $index">
            {{movie.Title}}
            {{movie.Year}}
            <button ui-sref="details({id: movie.Id})">Details</button>
            <button ng-click="deleteMovie(movie.Id)">Delete</button>
            <button ui-sref="editmovie({id: movie.Id})">Edit</button>
        </div>
        <button ui-sref="addmovie">Add</button>
    </div>
</div>
