<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular APP</title>
    <script src="~/Scripts/vendor/angular.js"></script>
    <script src="~/Scripts/vendor/angular-local-storage.js"></script>
    <script src="~/Scripts/vendor/angular-ui-router.js"></script>
    <script src="~/Scripts/vendor/lodash.js"></script>

    <script src="~/Scripts/app/app.module.js"></script>
    <script src="~/Scripts/app/app.config.js"></script>
    
    <script src="~/Scripts/app/home/home.state.js"></script>
    
    <script src="~/Scripts/app/common/movies.repository.js"></script>
    
    <script src="~/Scripts/app/movies/movies.state.js"></script>
    <script src="~/Scripts/app/movies/movies.controller.js"></script>

    <script src="~/Scripts/app/details/details.state.js"></script>
    <script src="~/Scripts/app/details/details.controller.js"></script>

    <script src="~/Scripts/app/addmovie/addmovie.state.js"></script>
    <script src="~/Scripts/app/addmovie/addmovie.controller.js"></script>

    <base href="/">
</head>
<body>
    <div>
        <div ui-view></div>
    </div>
</body>
</html>