<div ng-show="isLoaded">
    Add a movie: <br />
    Title: <input type="text" ng-model="title" /> <br />
    Year:  <input type="number" ng-model="year" /> <br />
    Hashtag: <input type="text" ng-model="hashtag" /> <br />
    Choose actors:
    <div ng-repeat="actor in allActors">
        <div ui-sref="actors({id: actor.Id})">
            {{actor.Name}}
        </div>
        <button ng-click="addActor(actor)">Add</button>
    </div>
    <div ng-if="!isGenreAdded">
        Choose genre:
        <div ng-repeat="genre in allGenres">
            {{genre.Name}}
            <button ng-click="addGenre(genre)">Add</button>
        </div>
    </div>
    <div ng-if="!isDirectorAdded">
    Choose director:
        <div ng-repeat="director in allDirectors">
            <div ui-sref="directors({id: director.Id})">
                {{director.Name}}
            </div>
            <button ng-click="addDirector(director)">Add</button>
        </div>
        </div>
    <button ng-click="addNewMovie()">Add movie</button>
</div>